@import url('https://fonts.googleapis.com/css2?family=Gidole&display=swap');


body{
    background-color: #ADB2D4;
    padding-top: 10%;
    font-family: "Gidole", sans-serif;
}

#root {
    width: 100%;
}

.currency-converter {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #D5E5D5;
  }
  
  .converter-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-currency-group {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .currency-select {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .swap-icon {
    cursor: pointer;
  }
  
  .submit-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .submit-button.loading {
    background-color: #ccc;
    cursor: not-allowed;
  }
