@import url('https://fonts.googleapis.com/css2?family=Gidole&display=swap');


body{
    background-color: #ADB2D4;
    padding-top: 10%;
    font-family: "Gidole", sans-serif;
}

#root {
    width: 100%;
}

.currency-converter {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #D5E5D5;
  }
  
  .converter-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
}

.converter-form .form-group .form-label {
    color: #fff;
    font-weight: 500;
    display: block;
    margin-bottom: 9px;
    font-size: 1rem;
}

.converter-form .form-group .form-input {
    min-height: 48px;
    border-radius: 6px;
    background: #C7D9DD;
    border: 1px solid #C7D9DD;
}